@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap");
header {
  background-color: #424242;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #f5f5f5;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
}
header a {
  display: flex;
}
header a img {
  width: auto;
  height: auto;
}
header .menu-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .menu-toggle img {
  width: 32px;
  height: 32px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
header nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
header nav ul li {
  display: inline-block;
  margin-right: 20px;
}
header nav ul li a {
  color: #f5f5f5;
  text-decoration: none;
}

nav ul li a:hover {
  box-shadow: 0px 1px 0.8px 0px #ff9900;
}

#navMenu {
  display: none;
}

@media (max-width: 768px) {
  header nav {
    margin: 0;
    padding: 8px;
    width: 85%;
    background-color: #ff9900;
    position: absolute;
    top: 50px;
    right: 5px;
    z-index: 1000;
    border-radius: 8px;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  header nav ul li {
    padding: 0;
    margin: 0;
  }
  header nav ul li a {
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
    font-weight: 500;
  }
}
@media (min-width: 768px) {
  #navMenu {
    display: block;
  }
  #openIcon {
    display: none;
  }
}
#weaponDetails {
  background-color: #1f1f1f;
  color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
}
#weaponDetails h2 {
  color: #ff9900;
}

#weaponDetails h3 {
  margin-top: 0;
}

@media (max-width: 600px) {
  th, td {
    font-size: 12px;
  }
}
#weaponSelector {
  color: #f5f5f5;
  display: flex;
  justify-content: space-around;
  margin-bottom: 40px;
}
#weaponSelector .selector {
  display: flex;
  flex-direction: column;
}
#weaponSelector .selector select {
  padding: 10px;
  margin-top: 10px;
}

#comparison {
  color: #f5f5f5;
  display: flex;
  justify-content: space-around;
}
#comparison .weapon-details {
  width: 45%;
}

#chartContainer {
  color: #f5f5f5;
}

img {
  width: 50%;
}

@media (max-width: 768px) {
  #comparison {
    flex-direction: column;
    align-items: center;
  }
  #comparison .weapon-details {
    width: 80%;
    margin-bottom: 20px;
  }
}
main {
  margin-top: 100px;
}
main #chatContainer {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #f5f5f5;
  padding: 10px;
  color: #f5f5f5;
}
main #chatContainer #chatWindow {
  height: 300px;
  overflow-y: auto;
  border-bottom: 1px solid #ff9900;
  margin-bottom: 10px;
}

input[type=text] {
  width: calc(100% - 80px);
  padding: 10px;
}

button {
  width: 60px;
}

#weaponCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #f5f5f5;
}

.weapon-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  width: 150px;
  text-align: center;
}

.weapon-card img {
  width: 100%;
  height: auto;
}

canvas {
  max-width: 100%;
}

* {
  font-family: "Space Grotesk", sans-serif;
}

body {
  background-color: #424242;
  color: #424242;
  margin: 0;
}

main {
  padding: 20px;
}

#home {
  color: #f5f5f5;
}

#weapons h1 {
  margin-top: 80px;
  color: #f5f5f5;
  font-size: 1.8rem;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px #f5f5f5;
}
.container h1 {
  color: #424242;
  font-weight: 800;
}

h1 {
  text-align: center;
}

input[type=text] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #f5f5f5;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(66, 66, 66, 0.1882352941);
}

th {
  background-color: #f5f5f5;
}

tr {
  cursor: pointer;
}
tr a {
  color: #424242;
  font-weight: 700;
}

tr:hover {
  background-color: #424242;
  color: #f5f5f5;
}
tr:hover a {
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  background-color: #ff9900;
  padding: 0 2%;
  border-radius: 2px;
}

section {
  margin-bottom: 40px;
}

.weapon-gallery {
  display: flex;
  flex-wrap: wrap;
}

.weapon-gallery div {
  background-color: #333333;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
}

footer {
  background-color: #1f1f1f;
  text-align: center;
  padding: 10px 0;
  color: #ff9900;
}

.armas {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: space-between;
}

.arma {
  width: auto;
  height: auto;
  padding: 10px;
  background-color: #ff9900;
  border-radius: 8px;
  margin: 5px;
}

/*# sourceMappingURL=style.css.map */
